.menu
 div
 ul
  li.cats
   span(index=0) Женщинам
   span.sel(index=1) Мужчинам
   span(index=2) Детям
   span(index=3) Аксессуары
   div
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 1
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 2
    .item
     img(src="/i/mob_cats/small_item.png")
     div чехлы для смартфонов и планшетов
   div.sel
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 11
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 22
    .item
     img(src="/i/mob_cats/small_item.png")
     div чехлы для смартфонов и планшетов
   div
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 111
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 222
    .item
     img(src="/i/mob_cats/small_item.png")
     div чехлы для смартфонов и планшетов
   div
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 1111
    .item
     img(src="/i/mob_cats/small_item.png")
     div футболки 2222
    .item
     img(src="/i/mob_cats/small_item.png")
     div чехлы для смартфонов и планшетов
  li
   a(href="/login") Войти
  li
   a(href="/make") Создать дизайн
  li
   a(href="/contacts") Контакты
  li
   a(href="/landing_page") Оптовикам
  li
   a(href="/blog") Блог
 a.logo(href="/") Printari
 button.cart
  .count 8
 button.home
 button.search
 .wrap-search
  input.search(placeholder="поиск по сайту")
  button НАЙТИ
  .result
   .item Игры престолов
   .item Игры престолов кружки
   .item Игры престолов футболки женские

