.head НАШИ КОНТАКТЫ
span.
 г. Москва, ул. Барклая д.8<br>
 ТЦ "Горбушка";<br>
 Работаем каждый день с 10:00 до 21:00<br>
 тел.: +7 (495) 744-33-27<br>
 e-mail: <a href="mailto:mail@printari.ru">mail@printari.ru</a>

.head ПОДПИСЫВАЙТЕСЬ
ul.soc_nav
 li
  noindex
   a(href="https://twitter.com/EMstoreRU" rel="nofollow")
    img(src="/i/tw.png")
 li
  noindex
   a(href="https://instagram.com/emstoreru" rel="nofollow")
    img(src="/i/in.png")
 li
  noindex
   a(href="https://vk.com/emstore" rel="nofollow")
    img(src="/i/vk.png")

.head Printari © 2014 • Designed &amp; Creative
