.filter
 span.back &#x25C0;
 h1 Мужчинам

include shop-pager.jade
.list
 .item
  a(href="/shop1.html")
   img(src="http://lorempixel.com/101/120/")
  .head
   a(href="/shop1.html") Chakky
  .text Толстовка с капюшоном Кенгуриха
  .price 700 руб

 .item
  a(href="/shop1.html")
   img(src="http://lorempixel.com/120/101/")
  .head
   a(href="/shop1.html") Chakky
  .text Толстовка с капюшоном Кенгуриха
  .price 700 руб

 .item
  a(href="/shop1.html")
   img(src="http://lorempixel.com/120/102/")
  .head
   a(href="/shop1.html") Chakky
  .text Толстовка с капюшоном Кенгуриха
  .price 700 руб

 .item
  a(href="/shop1.html")
   img(src="http://lorempixel.com/102/120/")
  .head
   a(href="/shop1.html") Chakky
  .text Толстовка с капюшоном Кенгуриха
  .price 700 руб

include shop-pager.jade
