.filter
	span.back &#x25C0;
	h1 Мужчинам
	h2 Толстовка с капюшоном Кенгуриха
br

.slider
	.swiper-wrapper
		.swiper-slide
			img(src="http://lorempixel.com/480/480/" title="")
		.swiper-slide
			img(src="http://lorempixel.com/481/480/" title="")
		.swiper-slide
			img(src="http://lorempixel.com/480/481/" title="")
		.swiper-slide
			img(src="http://lorempixel.com/481/481/" title="")
	.swiper-pagination

.price-wrap
	.price 700 руб
	.oldprice 990 руб

button Добавить в корзину
.discount скидка 10% при онлайн оплате

hr

.sizebox
	| РАЗМЕР: &nbsp;
	a(href="#") определить свой размер
	br
	.size 44
	.size 46
	.size.sel 48
	.size 50
	.size 52
	br
	.size 54
	.size 56
	.size 60
.colorbox
	| ЦВЕТ:
	br
	.color.white.sel
	.color.gray

.text
	b Артикул:
	| &nbsp;00321
	br
	b Доставка по Москве:
	| &nbsp;300 руб.
	br
	b Доставка по Санкт-Петербургу:
	| &nbsp;250 руб.
	br
	b Самовывоз:
	| &nbsp;бесплатно, забрать можно сегодня со склада в Москве
	br
	a(href="/delivery") Доставка по всей России
	a(href="/") Заказать обратный звонок

.text
	b Индивидуальные характеристики толстовки:
	br
	| Плотность: 140-160 г/м2.
	br
	| Область печати: грудь, спина.
	br
	| Размер: XS, S, M, L, XL, XXL, XXXL, 4XL, 5XL
	br

hr
.text.center Другие товары с этим рисунком:
.slider.other
	.swiper-wrapper
		.swiper-slide
			img(src="http://lorempixel.com/480/480/" title="")
			.title Chakky
			.subcat Мужская футболка1
		.swiper-slide
			img(src="http://lorempixel.com/481/480/" title="")
			.title Chakky
			.subcat Мужская футболка2
		.swiper-slide
			img(src="http://lorempixel.com/480/481/" title="")
			.title Chakky
			.subcat Мужская футболка3
		.swiper-slide
			img(src="http://lorempixel.com/481/481/" title="")
			.title Chakky
			.subcat Мужская футболка4
	.swiper-pagination

hr

//script(type="text/javascript" src="//vk.com/js/api/openapi.js?117")
//script(type="text/javascript").
// VK.init({apiId: 0,onlyWidgets: true});
//#vk_comments
//script(type="text/javascript").
// VK.Widgets.Comments("vk_comments",{limit: 20,width: "800",attach: "*"});
